html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
  font-family: Andale Mono, monospace;
}

#img-song{
  box-shadow: 12px 2px 20px black;
}

.controller{
  margin-top: 7px;
}

#start-song , #stop-song{
  width: 100px;
  transition-delay: 1000000000000000s;
}

.controller:hover{
  opacity: 1;
}


#name{
  border: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  color: whitesmoke;
  transition-delay: 10000000000000000000s;
}

#audio{
  opacity: 0.8;
  margin-top: 1%;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  transition-delay: 10000000000000000000s;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

#interior{
  overflow-y: auto;
  height: 150px;
}

.play-off{
  display: block;
}

.play-on{
  display: none;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.music:hover{
  background-color: rgba(39, 24, 112, 0.5);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  #player{
      align-items: center;
  }
}